*.js linguist-ignore
*.css linguist-ignore
*.html linguist-ignore

*.js linguist-detectable=false
*.css linguist-detectable=false
*.html linguist-detectable=false
*.jsx linguist-detectable=false
*.ts linguist-detectable=false
*.tsx linguist-detectable=false

