services:
  ollama:
    build:
      context: ollama
      dockerfile: Dockerfile
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - test_llm
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:11434/api/tags | grep 'llama3:latest'"]
      interval: 10s
      timeout: 5s
      retries: 60

  # webui:
  #   image: ghcr.io/ollama-webui/ollama-webui:main
  #   container_name: ollama_webui
  #   ports:
  #     - "8083:8080"
  #   environment:
  #     - OLLAMA_BASE_URL=http://ollama:11434
  #   depends_on:
  #     ollama:
  #       condition: service_healthy
  #   networks:
  #     - test_llm
  #   restart: unless-stopped

  backend:
    build:
      context: ../api
      dockerfile: ../.docker/Dockerfile.backend
    container_name: backend
    ports:
      - "8000:8000"
    # environment:
    #   - WC_KEY=${WC_KEY}
    #   - WC_SECRET=${WC_SECRET}
    #   - OAUTHLIB_INSECURE_TRANSPORT=1
    depends_on:
      ollama:
        condition: service_healthy
    networks:
      - test_llm
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/api/v1/ || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ../api:/app

  frontend:
    build:
      context: ../frontend
      dockerfile: ../.docker/Dockerfile.frontend
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - test_llm
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - test_llm
    restart: unless-stopped

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: llm
      MYSQL_USER: llmuser
      MYSQL_PASSWORD: llmpassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - test_llm

volumes:
  ollama_data:
  qdrant_data:
  mysql_data:

networks:
  test_llm:

 